:root.theme-light {
  --cover-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --subtitle-color: #FF8DCB;
  --text-color: #353430;
  --accent: #353430;
  --bg-accent: #353430;
  --hover: #32312D66;
  --footer: #FF0070;
}

.theme-light .decorated-element {
  display: none;
}

.theme-light .decorated-element::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --cover-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --subtitle-color: #FF8DCB;
  --text-color: #353430;
  --accent: #353430;
  --bg-accent: #353430;
  --hover: #32312D66;
  --footer: #FF0070;
  }
  .decorated-element {
  display: none;
  }
  .decorated-element::after {
  display: none;
  }
}