:root.theme-light {
  --cover-image-light: url(../images/cover-image-light.png);
  --bg-color-light: #FFF1F7;
  --title-color-light: #FFC2E6;
  --h2-color-light: #FF8DCB;
  --text-color-light: #353430;
  --h2-color-dark: #FF0070;
}

.theme-light .decorated-element {
  display: none;
}

.theme-light .decorated-element::after {
  display: none;
}

.theme-light .page {
  background-color: var(--bg-color-light);
  background-image: var(--cover-image-light);
}

.theme-light .decorated-zone::before {
  border-bottom: 1px solid var(--text-color-light);
  border-left: 1px solid var(--text-color-light);
}

.theme-light .decorated-zone::after {
  border-top: 1px solid var(--text-color-light);
  border-right: 1px solid var(--text-color-light);
}

.theme-light .header__theme-menu-item {
  color: var(--text-color-light);
}

.theme-light .header__theme-menu-button:hover {
 outline: 1px solid #32312D66;
}

.theme-light .header__theme-menu-button_active {
  outline: 1px solid var(--text-color-light);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-color-light);
}

.theme-light .title {
  color: var(--title-color-light);
}

.theme-light .header_title {
  text-shadow: 4px 4px 0 var(--h2-color-light);
}

.theme-light .footer_title {
text-shadow: 2px 2px 0 var(--h2-color-dark);
}

.theme-light .title-decor {
  color: var(--bg-color-dark);
  background-color: var(--h2-color-light);
}

.theme-light .subtitle {
  color: var(--text-color-light);
}

.theme-light p {
  color: var(--text-color-light);
}

.theme-light a {
text-shadow: 2px 2px var(--h2-color-light);
}

.theme-light a:hover {
border-bottom: 1px solid var(--text-color-light);
}

.theme-light a:focus-visible {
outline: 1px solid var(--text-color-light);
}


@media (prefers-color-scheme: light) {
  :root {
  --cover-image-light: url(../images/cover-image-light.png);
  --bg-color-light: #FFF1F7;
  --title-color-light: #FFC2E6;
  --h2-color-light: #FF8DCB;
  --text-color-light: #353430;
  --h2-color-dark: #FF0070;
  }
}