:root {
  --cover-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --title-color: #DB00FF;
  --subtitle-color: #FF0070;
  --text-color: #F1B2CE;
  --accent: #000028;
  --bg-accent: #FF0070;
  --hover: #FF007066;
  --footer: #FF0070;
}